In [ ]:
# check if this instance of the notebook already has files present
# and thus determine which steps required prior to reading in file and handling the data
!ls

sample_data

In [ ]:
# set-up spark (NB if Apache amend versions on download site we will need to amend path in wget command)
## NOTE that this version would make use of Hadoop if installed BUT that HDFS & Hadoop is not installed on our Colab
## (we are only using a single node (probably as a VM) so we will not be able to benefit from parallelism)
!clear
!echo welcome

!rm -f spark-3.4.[01]-bin-hadoop3.tgz*
!rm -rf spark-3.4.[01]-bin-hadoop3

!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget https://downloads.apache.org/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz
!tar -xf spark-3.4.3-bin-hadoop3.tgz

!ls -alt
print("standalone Spark is now installed")

welcome
--2024-04-25 14:55:16--  https://downloads.apache.org/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz
Resolving downloads.apache.org (downloads.apache.org)... 88.99.208.237, 135.181.214.104, 2a01:4f9:3a:2c57::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|88.99.208.237|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 388930980 (371M) [application/x-gzip]
Saving to: ‘spark-3.4.3-bin-hadoop3.tgz’

spark-3.4.3-bin-had 100%[===================>] 370.91M  21.3MB/s    in 18s

2024-04-25 14:55:35 (20.5 MB/s) - ‘spark-3.4.3-bin-hadoop3.tgz’ saved [388930980/388930980]

total 379840
drwxr-xr-x  1 root root      4096 Apr 25 14:55 .
drwxr-xr-x  1 root root      4096 Apr 25 14:54 ..
drwxr-xr-x  1 root root      4096 Apr 23 13:23 sample_data
drwxr-xr-x  4 root root      4096 Apr 23 13:22 .config
-rw-r--r--  1 root root 388930980 Apr 15 01:30 spark-3.4.3-bin-hadoop3.tgz
drwxr-xr-x 13 1000 1000      4096 Apr 15 01:28 spark-3.4.3-bin-hadoop3
standalone Spark is now installed

In [ ]:
# init spark (ensure SPARK_HOME set to same version as we download earlier)
!pip3 install findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.3-bin-hadoop3"
import findspark
findspark.init()
from pyspark import SparkConf, SparkContext
# the next line gives us 'local' mode. try 'local[2]' to use 2 cores or 'master:NNNN' to run on Spark standalone cluster at port NNNN
spark_conf = SparkConf().setMaster('local[2]').setAppName('MyApp')
sc = SparkContext(conf=spark_conf)
# see what we have by examining the Spark User Interface
from pyspark.sql import *
from pyspark.sql.functions import *
SparkSession.builder.getOrCreate()

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import os


# use 'spark' as reference (as per standard approach)
spark = SparkSession.builder.appName("bikes").getOrCreate()

In [ ]:
# get bike hire file for given year from TfL open data
!wget https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2014.zip
!unzip cyclehireusagestats-2014.zip

--2024-04-25 14:55:57--  https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2014.zip
Resolving cycling.data.tfl.gov.uk (cycling.data.tfl.gov.uk)... 104.16.98.104, 104.16.97.104
Connecting to cycling.data.tfl.gov.uk (cycling.data.tfl.gov.uk)|104.16.98.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 225215129 (215M) [application/zip]
Saving to: ‘cyclehireusagestats-2014.zip’

cyclehireusagestats 100%[===================>] 214.78M   208MB/s    in 1.0s

2024-04-25 14:55:58 (208 MB/s) - ‘cyclehireusagestats-2014.zip’ saved [225215129/225215129]

Archive:  cyclehireusagestats-2014.zip
  inflating: 1. Journey Data Extract 05Jan14-02Feb14.csv
  inflating: 10a. Journey Data Extract 14Sep14-27Sep14.csv
  inflating: 10b. Journey Data Extract 28Sep14-11Oct14.csv
  inflating: 11a. Journey Data Extract 12Oct14-08Nov14.csv
  inflating: 11b. Journey Data Extract 12Oct14-08Nov14.csv
  inflating: 12a. Journey Data Extract 09Nov14-06Dec14.csv
  inflating: 12b. Journey Data Extract 09Nov14-06Dec14.csv
  inflating: 13a. Journey Data Extract 07Dec14-21Dec14.csv
  inflating: 13b. Journey Data Extract 22Dec14-03Jan15.csv
  inflating: 14. Journey Data Extract 08Dec13-04Jan14.csv
  inflating: 2. Journey Data Extract 03Feb14-01Mar14.csv
  inflating: 3. Journey Data Extract 02Mar14-31Mar14.csv
  inflating: 4. Journey Data Extract 01Apr14-26Apr14.csv
  inflating: 5. Journey Data Extract 27Apr14-24May14.csv
  inflating: 6. Journey Data Extract 25May14-21Jun14.csv
  inflating: 7. Journey Data Extract 22Jun14-19Jul14.csv
  inflating: 8a Journey Data Extract 20Jul14-31Jul14.csv
  inflating: 8b Journey Data Extract 01Aug14-16Aug14.csv
  inflating: 9a Journey Data Extract 17Aug14-31Aug14.csv
  inflating: 9b Journey Data Extract 01Sep14-13Sep14.csv

In [ ]:
A="./1. Journey*csv"
B="./2. Journey*csv"
C="./3. Journey*csv"
D="./4. Journey*csv"
E="./5. Journey*csv"
F="./6. Journey*csv"
J="./7. Journey*csv"
H="./8a Journey*csv"
I="./8b Journey*csv"
L="./9a Journey*csv"
M="./9b Journey*csv"
N="./10a. Journey*csv"
O="./10b. Journey*csv"
P="./11a. Journey*csv"
Q="./11b. Journey*csv"
R="./12a. Journey*csv"
S="./12b. Journey*csv"
T="./13a. Journey*csv"
U="./13b. Journey*csv"
V="./14. Journey*csv"
spark = SparkSession.builder.appName("bikes").getOrCreate()
cycle = (spark.read.format("csv")
         .option("header", "true")
         .option("inferSchema", "true")
         .load([A, B, C, D, E, F, H, I, J, L, M, N, O, P, Q, R, S, T, U, V]))

# show top 10
cycle.show(10)

+---------+--------+-------+----------------+-------------+--------------------+----------------+---------------+--------------------+
|Rental Id|Duration|Bike Id|        End Date|EndStation Id|     EndStation Name|      Start Date|StartStation Id|   StartStation Name|
+---------+--------+-------+----------------+-------------+--------------------+----------------+---------------+--------------------+
| 34263367|    1080|   9076|24/06/2014 00:57|          695|Islington Green, ...|24/06/2014 00:39|            311|Foley Street, Fit...|
| 34603487|     660|   6328|03/07/2014 11:51|          695|Islington Green, ...|03/07/2014 11:40|             22|Northington Stree...|
| 34689078|     120|   2006|05/07/2014 15:09|          357|Howland Street, F...|05/07/2014 15:07|            311|Foley Street, Fit...|
| 34724273|    1260|   7904|06/07/2014 16:35|          695|Islington Green, ...|06/07/2014 16:14|            311|Foley Street, Fit...|
| 34956750|    1500|   8251|13/07/2014 00:41|           93|Cloudesley Road, ...|13/07/2014 00:16|            311|Foley Street, Fit...|
| 34946549|    1380|   6997|12/07/2014 18:35|          430|South Parade, Che...|12/07/2014 18:12|            514|Portman Square, M...|
| 35011368|    2820|   4193|14/07/2014 15:49|          573|Limerston Street,...|14/07/2014 15:02|             14|Belgrove Street ,...|
| 35027649|     180|   9781|14/07/2014 19:50|          430|South Parade, Che...|14/07/2014 19:47|            216|Old Brompton Road...|
| 35057973|     420|   5133|15/07/2014 17:17|          356|South Kensington ...|15/07/2014 17:10|            216|Old Brompton Road...|
| 35086123|    1200|    190|16/07/2014 09:31|          290|Winsland Street, ...|16/07/2014 09:11|            430|South Parade, Che...|
+---------+--------+-------+----------------+-------------+--------------------+----------------+---------------+--------------------+
only showing top 10 rows

In [ ]:
from pyspark.sql import functions as F
from scipy.stats import ttest_ind, stats
from pyspark.sql.functions import to_timestamp
from pyspark.sql import SparkSession
from pyspark.sql.functions import year, month, to_date, when
from pyspark.sql.functions import to_timestamp
from pyspark.sql.functions import date_format
from scipy.stats import ttest_ind, stats
from pyspark.sql.functions import month
from pyspark.sql.functions import col

import matplotlib.pyplot as plt
import pandas as pd
from pyspark.sql.functions import mean

In [ ]:

#Convert the date and time columns to timestamp format and calculate the duration of each ride.


cycle = cycle.withColumn('Start Date', to_timestamp('Start Date', 'dd/MM/yyyy HH:mm'))
cycle = cycle.withColumn('End Date', to_timestamp('End Date', 'dd/MM/yyyy HH:mm'))

cycle = cycle.withColumn('Duration', (cycle['End Date'].cast('long') - cycle['Start Date'].cast('long')))

In [ ]:
# Assuming 'cycle' is your PySpark DataFrame and it has a column named "Start Date" with date or timestamp type

# Initialize SparkSession (if not already initialized)
spark = SparkSession.builder.appName("year_extraction").getOrCreate()

# First, ensure the "Start Date" column is of the appropriate date or timestamp type
# If it's a string, you might need to convert it using to_date() or to_timestamp(), for example:
# cycle = cycle.withColumn("Start Date", to_date("Start Date", "your_date_format_here"))

# Extract the year from the "Start Date" column and get distinct values
lst_years = cycle.select(year("Start Date").alias("Year")).distinct().orderBy("Year")

# Show the list of years
lst_years.show()

+----+
|Year|
+----+
|null|
|2013|
|2014|
|2015|
+----+

In [ ]:
#drop the null values
cycle = cycle.drop(*[c for c in cycle.columns if cycle.select(c).na.drop().count() == 0])
cycle = cycle.dropna()

cycle.select([count(when(col(c).isNull(), c)).alias(c) for c in cycle.columns]).show()
cycle.show()

+---------+--------+-------+--------+-------------+---------------+----------+---------------+-----------------+
|Rental Id|Duration|Bike Id|End Date|EndStation Id|EndStation Name|Start Date|StartStation Id|StartStation Name|
+---------+--------+-------+--------+-------------+---------------+----------+---------------+-----------------+
|        0|       0|      0|       0|            0|              0|         0|              0|                0|
+---------+--------+-------+--------+-------------+---------------+----------+---------------+-----------------+

+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+
|Rental Id|Duration|Bike Id|           End Date|EndStation Id|     EndStation Name|         Start Date|StartStation Id|   StartStation Name|
+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+
| 34263367|    1080|   9076|2014-06-24 00:57:00|          695|Islington Green, ...|2014-06-24 00:39:00|            311|Foley Street, Fit...|
| 34603487|     660|   6328|2014-07-03 11:51:00|          695|Islington Green, ...|2014-07-03 11:40:00|             22|Northington Stree...|
| 34689078|     120|   2006|2014-07-05 15:09:00|          357|Howland Street, F...|2014-07-05 15:07:00|            311|Foley Street, Fit...|
| 34724273|    1260|   7904|2014-07-06 16:35:00|          695|Islington Green, ...|2014-07-06 16:14:00|            311|Foley Street, Fit...|
| 34956750|    1500|   8251|2014-07-13 00:41:00|           93|Cloudesley Road, ...|2014-07-13 00:16:00|            311|Foley Street, Fit...|
| 34946549|    1380|   6997|2014-07-12 18:35:00|          430|South Parade, Che...|2014-07-12 18:12:00|            514|Portman Square, M...|
| 35011368|    2820|   4193|2014-07-14 15:49:00|          573|Limerston Street,...|2014-07-14 15:02:00|             14|Belgrove Street ,...|
| 35027649|     180|   9781|2014-07-14 19:50:00|          430|South Parade, Che...|2014-07-14 19:47:00|            216|Old Brompton Road...|
| 35057973|     420|   5133|2014-07-15 17:17:00|          356|South Kensington ...|2014-07-15 17:10:00|            216|Old Brompton Road...|
| 35086123|    1200|    190|2014-07-16 09:31:00|          290|Winsland Street, ...|2014-07-16 09:11:00|            430|South Parade, Che...|
| 34868641|     960|   8620|2014-07-10 15:13:00|          345|Flood Street, Che...|2014-07-10 14:57:00|            405|Gloucester Road S...|
| 34934674|    1440|   8257|2014-07-12 15:25:00|          192|Wardour Street, Soho|2014-07-12 15:01:00|            430|South Parade, Che...|
| 35113372|     780|   5495|2014-07-16 19:44:00|          430|South Parade, Che...|2014-07-16 19:31:00|            290|Winsland Street, ...|
| 35114768|    1380|  11118|2014-07-16 20:29:00|           43|Crawford Street, ...|2014-07-16 20:06:00|            430|South Parade, Che...|
| 35161284|     300|   2825|2014-07-17 21:03:00|          430|South Parade, Che...|2014-07-17 20:58:00|            216|Old Brompton Road...|
| 35178200|     660|   2797|2014-07-18 11:49:00|          405|Gloucester Road S...|2014-07-18 11:38:00|            430|South Parade, Che...|
| 35182220|     240|   9760|2014-07-18 13:45:00|          430|South Parade, Che...|2014-07-18 13:41:00|            405|Gloucester Road S...|
| 35219861|     960|   5588|2014-07-19 13:45:00|          150|Holy Trinity Brom...|2014-07-19 13:29:00|            430|South Parade, Che...|
| 35224864|     660|  11255|2014-07-19 15:17:00|          747|Ormonde Gate, Che...|2014-07-19 15:06:00|            368|Harriet Street, K...|
| 34316757|     900|   2942|2014-06-25 11:40:00|          430|South Parade, Che...|2014-06-25 11:25:00|            638|Falcon Road, Clap...|
+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+
only showing top 20 rows

In [ ]:
# DataFrame with the filtered result where all durations are non-negative
cycle = cycle.filter(col("Duration") > 0)

In [ ]:
# removing year 2013 as the data we are working with starts from 2014
cycle = cycle.filter(year("Start Date") == 2014)

In [ ]:
#adding a column "day" representing the day of the week that corresponds to the start date
cycle = cycle.withColumn('Day', date_format('Start Date', 'EEEE'))
cycle.show()

+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+---------+
|Rental Id|Duration|Bike Id|           End Date|EndStation Id|     EndStation Name|         Start Date|StartStation Id|   StartStation Name|      Day|
+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+---------+
| 34263367|    1080|   9076|2014-06-24 00:57:00|          695|Islington Green, ...|2014-06-24 00:39:00|            311|Foley Street, Fit...|  Tuesday|
| 34603487|     660|   6328|2014-07-03 11:51:00|          695|Islington Green, ...|2014-07-03 11:40:00|             22|Northington Stree...| Thursday|
| 34689078|     120|   2006|2014-07-05 15:09:00|          357|Howland Street, F...|2014-07-05 15:07:00|            311|Foley Street, Fit...| Saturday|
| 34724273|    1260|   7904|2014-07-06 16:35:00|          695|Islington Green, ...|2014-07-06 16:14:00|            311|Foley Street, Fit...|   Sunday|
| 34956750|    1500|   8251|2014-07-13 00:41:00|           93|Cloudesley Road, ...|2014-07-13 00:16:00|            311|Foley Street, Fit...|   Sunday|
| 34946549|    1380|   6997|2014-07-12 18:35:00|          430|South Parade, Che...|2014-07-12 18:12:00|            514|Portman Square, M...| Saturday|
| 35011368|    2820|   4193|2014-07-14 15:49:00|          573|Limerston Street,...|2014-07-14 15:02:00|             14|Belgrove Street ,...|   Monday|
| 35027649|     180|   9781|2014-07-14 19:50:00|          430|South Parade, Che...|2014-07-14 19:47:00|            216|Old Brompton Road...|   Monday|
| 35057973|     420|   5133|2014-07-15 17:17:00|          356|South Kensington ...|2014-07-15 17:10:00|            216|Old Brompton Road...|  Tuesday|
| 35086123|    1200|    190|2014-07-16 09:31:00|          290|Winsland Street, ...|2014-07-16 09:11:00|            430|South Parade, Che...|Wednesday|
| 34868641|     960|   8620|2014-07-10 15:13:00|          345|Flood Street, Che...|2014-07-10 14:57:00|            405|Gloucester Road S...| Thursday|
| 34934674|    1440|   8257|2014-07-12 15:25:00|          192|Wardour Street, Soho|2014-07-12 15:01:00|            430|South Parade, Che...| Saturday|
| 35113372|     780|   5495|2014-07-16 19:44:00|          430|South Parade, Che...|2014-07-16 19:31:00|            290|Winsland Street, ...|Wednesday|
| 35114768|    1380|  11118|2014-07-16 20:29:00|           43|Crawford Street, ...|2014-07-16 20:06:00|            430|South Parade, Che...|Wednesday|
| 35161284|     300|   2825|2014-07-17 21:03:00|          430|South Parade, Che...|2014-07-17 20:58:00|            216|Old Brompton Road...| Thursday|
| 35178200|     660|   2797|2014-07-18 11:49:00|          405|Gloucester Road S...|2014-07-18 11:38:00|            430|South Parade, Che...|   Friday|
| 35182220|     240|   9760|2014-07-18 13:45:00|          430|South Parade, Che...|2014-07-18 13:41:00|            405|Gloucester Road S...|   Friday|
| 35219861|     960|   5588|2014-07-19 13:45:00|          150|Holy Trinity Brom...|2014-07-19 13:29:00|            430|South Parade, Che...| Saturday|
| 35224864|     660|  11255|2014-07-19 15:17:00|          747|Ormonde Gate, Che...|2014-07-19 15:06:00|            368|Harriet Street, K...| Saturday|
| 34316757|     900|   2942|2014-06-25 11:40:00|          430|South Parade, Che...|2014-06-25 11:25:00|            638|Falcon Road, Clap...|Wednesday|
+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+---------+
only showing top 20 rows

In [ ]:
# Count the number of distinct stations
total_stations = cycle.select(col("StartStation Name")).distinct().count()

print("Number of stations:", total_stations)

Number of stations: 761

In [ ]:
# Count the number of distinct stations
total_EndStation_Name = cycle.select(col("EndStation Name")).distinct().count()

print("EndStation Name:", total_EndStation_Name)

EndStation Name: 763

In [ ]:
# DataFrame with rides related to "Baylis Road" and "Waterloo station"


baylis_waterloo_rides = cycle.filter(cycle["StartStation Name"] == "Baylis Road, Waterloo")

baylis_waterloo_rides.show(10)

+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+---------+
|Rental Id|Duration|Bike Id|           End Date|EndStation Id|     EndStation Name|         Start Date|StartStation Id|   StartStation Name|      Day|
+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+---------+
| 34335942|     600|   7213|2014-06-25 18:59:00|          199|Great Tower Stree...|2014-06-25 18:49:00|            272|Baylis Road, Wate...|Wednesday|
| 34292680|     540|  11506|2014-06-24 18:12:00|          199|Great Tower Stree...|2014-06-24 18:03:00|            272|Baylis Road, Wate...|  Tuesday|
| 34251992|     600|   1845|2014-06-23 17:58:00|          199|Great Tower Stree...|2014-06-23 17:48:00|            272|Baylis Road, Wate...|   Monday|
| 34618956|     720|   8070|2014-07-03 17:59:00|          199|Great Tower Stree...|2014-07-03 17:47:00|            272|Baylis Road, Wate...| Thursday|
| 34574886|     600|   2786|2014-07-02 17:57:00|          199|Great Tower Stree...|2014-07-02 17:47:00|            272|Baylis Road, Wate...|Wednesday|
| 35203325|     660|  10752|2014-07-18 20:39:00|          199|Great Tower Stree...|2014-07-18 20:28:00|            272|Baylis Road, Wate...|   Friday|
| 35152298|     540|  11435|2014-07-17 18:23:00|          199|Great Tower Stree...|2014-07-17 18:14:00|            272|Baylis Road, Wate...| Thursday|
| 35107220|     600|   5663|2014-07-16 18:14:00|          199|Great Tower Stree...|2014-07-16 18:04:00|            272|Baylis Road, Wate...|Wednesday|
| 34844198|     720|  12181|2014-07-09 18:54:00|          199|Great Tower Stree...|2014-07-09 18:42:00|            272|Baylis Road, Wate...|Wednesday|
| 35019284|     660|   9996|2014-07-14 17:54:00|          199|Great Tower Stree...|2014-07-14 17:43:00|            272|Baylis Road, Wate...|   Monday|
+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+---------+
only showing top 10 rows

In [ ]:
other_rides = cycle.filter((cycle["StartStation Name"] != "Baylis Road, Waterloo"))
other_rides.show(10)

+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+---------+
|Rental Id|Duration|Bike Id|           End Date|EndStation Id|     EndStation Name|         Start Date|StartStation Id|   StartStation Name|      Day|
+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+---------+
| 34263367|    1080|   9076|2014-06-24 00:57:00|          695|Islington Green, ...|2014-06-24 00:39:00|            311|Foley Street, Fit...|  Tuesday|
| 34603487|     660|   6328|2014-07-03 11:51:00|          695|Islington Green, ...|2014-07-03 11:40:00|             22|Northington Stree...| Thursday|
| 34689078|     120|   2006|2014-07-05 15:09:00|          357|Howland Street, F...|2014-07-05 15:07:00|            311|Foley Street, Fit...| Saturday|
| 34724273|    1260|   7904|2014-07-06 16:35:00|          695|Islington Green, ...|2014-07-06 16:14:00|            311|Foley Street, Fit...|   Sunday|
| 34956750|    1500|   8251|2014-07-13 00:41:00|           93|Cloudesley Road, ...|2014-07-13 00:16:00|            311|Foley Street, Fit...|   Sunday|
| 34946549|    1380|   6997|2014-07-12 18:35:00|          430|South Parade, Che...|2014-07-12 18:12:00|            514|Portman Square, M...| Saturday|
| 35011368|    2820|   4193|2014-07-14 15:49:00|          573|Limerston Street,...|2014-07-14 15:02:00|             14|Belgrove Street ,...|   Monday|
| 35027649|     180|   9781|2014-07-14 19:50:00|          430|South Parade, Che...|2014-07-14 19:47:00|            216|Old Brompton Road...|   Monday|
| 35057973|     420|   5133|2014-07-15 17:17:00|          356|South Kensington ...|2014-07-15 17:10:00|            216|Old Brompton Road...|  Tuesday|
| 35086123|    1200|    190|2014-07-16 09:31:00|          290|Winsland Street, ...|2014-07-16 09:11:00|            430|South Parade, Che...|Wednesday|
+---------+--------+-------+-------------------+-------------+--------------------+-------------------+---------------+--------------------+---------+
only showing top 10 rows

In [ ]:
# Perform descriptive statistics
baylis_waterloo_stats = baylis_waterloo_rides.select(F.mean('Duration'), F.stddev('Duration')).collect()[0]
other_stats = other_rides.select(F.mean('Duration'), F.stddev('Duration')).collect()[0]

print("descriptive statistics:")
print("descriptive statistics_baylis:", baylis_waterloo_stats)
print("other_stats_other:", other_stats )

descriptive statistics:
descriptive statistics_baylis: Row(avg(Duration)=1046.6930031147915, stddev_samp(Duration)=6409.995032074472)
other_stats_other: Row(avg(Duration)=1470.5920967367313, stddev_samp(Duration)=13006.925132363982)

In [ ]:
# Collect the durations as lists
baylis_duration = baylis_waterloo_rides.select("Duration")
other_duration = other_rides.select("Duration")
baylis_waterloo_list = baylis_duration.rdd.flatMap(lambda x: x).collect()
other_rides_list = other_duration.rdd.flatMap(lambda x: x).collect()

In [ ]:
from scipy.stats import levene

# Perform Levene's test for equal variances
stat, p_value = levene(baylis_waterloo_list, other_rides_list)
print('Levene test p-value:', p_value)

# Set significance level
alpha = 0.05
if p_value < alpha:
    print("Unequal variances, reject the null hypothesis.")
else:
    print("Equal variances, fail to reject the null hypothesis.")

Levene test p-value: 9.830633262687688e-06
Unequal variances, reject the null hypothesis.

In [ ]:
# Perform a two-sample t-test

# Perform t-test on the duration data of bike rides
t_stat, p_value = ttest_ind(baylis_waterloo_list, other_rides_list, equal_var=False) # Added equal_var=False for Welch's t-test

# Print the resulting t-statistic and p-value
print("Results of Two-Sample T-Test:")
print("----------------------------")
print("T-Statistic: ", t_stat)
print("P-Value: ", p_value)

Results of Two-Sample T-Test:
----------------------------
T-Statistic:  -10.67130910576357
P-Value:  1.566891081171705e-26

In [ ]:
# Interpret the results
alpha = 0.05  # significance level
if p_value < alpha:
    print(f"Reject the null hypothesis - There is sufficient evidence to conclude that rides in 2014 starting from Baylis Road, Waterloo station were significantly shorter compared to other stations is true. P-value: {p_value}")
else:
    print(f"Fail to reject the null hypothesis - no significant difference found between two groups. P-value: {p_value}")

Reject the null hypothesis - There is sufficient evidence to conclude that rides in 2014 starting from Baylis Road, Waterloo station were significantly shorter compared to other stations is true. P-value: 1.566891081171705e-26

H1

In [ ]:
from pyspark.sql.functions import mean

# Calculate average duration for Baylis Road, Waterloo
baylis_avg_duration = baylis_waterloo_rides.agg(mean("Duration").alias("average_duration")).collect()[0]["average_duration"]

# Calculate average duration for other stations
other_avg_duration = other_rides.agg(mean("Duration").alias("average_duration")).collect()[0]["average_duration"]

In [ ]:
# Print results
print(f"Average duration from Baylis Road, Waterloo: {baylis_avg_duration} seconds")
print(f"Average duration from other stations: {other_avg_duration} seconds")

# Check if Baylis Road, Waterloo rides are shorter
if baylis_avg_duration < other_avg_duration:
    print("Rides starting from Baylis Road, Waterloo station are shorter than those starting from other stations.")
else:
    print("Rides starting from other stations are shorter than those starting from Baylis Road, Waterloo station.")

Average duration from Baylis Road, Waterloo: 1046.6930031147915 seconds
Average duration from other stations: 1470.5920967367313 seconds
Rides starting from Baylis Road, Waterloo station are shorter than those starting from other stations.